.page-header
  = link_to new_room_path, :class => 'btn btn-primary' do
    %i.icon-plus.icon-white
    New Room
  %h1 Listing rooms

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody
    - @rooms.each do |room|
      %tr
        %td= room.name
        %td= link_to 'Messages', room_messages_path(room)
        %td= link_to 'Edit', edit_room_path(room)
        %td= link_to 'Destroy', room, :confirm => 'Are you sure?', :method => :delete
